### Q1. Create a list of five integers and print it.

In [1]:
l =[1,2,3]
print(l)

[1, 2, 3]

### Q2. Write a program to find the length of a list.

In [2]:
len(l)

3

### Q3. Create a tuple with three elements and print the second item.

In [3]:
t=(1,2,3,4)
t[1]

2

In [4]:
len("Hello World")

11

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [5]:
d={'fname':'menna','age':22,'city':'cairo'}
d.keys()

dict_keys(['fname', 'age', 'city'])

### Q5. Write a program to convert a list into a set.

In [6]:
s=set(l)
s

{1, 2, 3}

### Q6. Create a string and print its first and last characters.

In [7]:
st='menna maarouf'
print(st[0])
print(st[-1])

m
f

### Q7. Take input from the user and print it.

In [9]:
x = input()
x

'Hi'

### Q8. Write a program to add two numbers entered by the user.

In [10]:
n1=int(input())
n2=int(input())
n=n1+n2
n

15

### Q9. Use `type()` function to check the data type of a variable.

In [11]:
print(type(n))
print(type(s))

<class 'int'>
<class 'set'>

### Q10. Create a boolean variable and print it.

In [12]:
bol = True
print(type(bol))

<class 'bool'>

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [24]:
n=int(input())
if n>0:
    print('positive') 
elif n<0:
    print('negative')
else:
    print('zero')

zero

### Q12. Write a program to check if a number is even or odd.

In [26]:
n=int(input())
if n%2==0:
    print('Even') 
else:
    print('Odd')

Even

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [13]:
for i in range(3):
    print('Menna')

Menna
Menna
Menna

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [15]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [16]:
l = [1, 2, 3]
for i in l:
    print(i)

1
2
3

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [2]:
s=1
for i in range(1, 101):
    s += i
print(s)

5051

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [3]:
for i in range(1, 20):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18

### Q18. Write a `for` loop to print each character in a string.

In [17]:
for i in 'hello world':
    print(i)

h
e
l
l
o

w
o
r
l
d

### Q19. Use a `for` loop to print all values in a dictionary.

In [18]:
d={'fname':'menna','age':22,'city':'cairo'}
for value in d.values():
    print(value)

menna
22
cairo

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [19]:
f=1
n=int(input())
for i in range(1, n+1):
    f *= i
print(f)

120

### Q21. Create a list of your 5 favorite fruits.

In [21]:
l=['mango', 'wotermelon', 'banana','orange', 'kiwi']

### Q22. Add a new fruit to your list of favorite fruits.

In [22]:
l.append('apple')

### Q23. Remove the second item from a list.

In [23]:
l.remove('apple')

### Q24. Sort a list of numbers in descending order.

In [25]:
l.sort(reverse=True )
print(l)

['wotermelon', 'orange', 'mango', 'kiwi', 'banana']

### Q25. Find the maximum and minimum values in a list.

In [26]:
l=[1,2,3,4,5,6,7,8,9,10]
print(max(l), min(l))

10 1

### Q26. Count how many times a value appears in a list.

In [28]:
l=[1,2,3,4,5,5]
l.count(3)

1

### Q27. Check if a specific value exists in a list.

In [29]:
2 in l

True

### Q28. Reverse a list without using reverse() function.

In [30]:
l=[1,2,3,4,5]
l[::-1]

[5, 4, 3, 2, 1]

### Q29. Make a copy of a list and modify the copy only.

In [31]:
l1=l.copy()
l1
l1.append(6)
l1

[1, 2, 3, 4, 5, 6]

### Q30. Use slicing to get the first 3 items of a list.

In [32]:
l=[1,2,3,4,5]
l[0:3]

[1, 2, 3]

### Q31. Create a tuple with 4 elements and print its length.

In [34]:
t=(1,2,3,4,5)
print(len(t))

5

### Q32. Access the last element of a tuple.

In [35]:
t[-1]

5

### Q33. Convert a tuple into a list.

In [36]:
l=list(t)
l

[1, 2, 3, 4, 5]

### Q34. Convert a list into a tuple.

In [37]:
t=tuple(l)
t

(1, 2, 3, 4, 5)

### Q35. Check if a value exists in a tuple.

In [38]:
5 in t

True

### Q36. Concatenate two tuples.

In [40]:
t1=(1,2,3)
t2=(4,5,6)
t=t1+t2
t

(1, 2, 3, 4, 5, 6)

### Q37. Repeat a tuple 3 times.

In [43]:
t*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

### Q38. Find the index of an element in a tuple.

In [45]:
t1.index(2)

1

### Q39. Use tuple unpacking to assign values to variables.

In [46]:
x,y,z = t1
print(x, y, z)

1 2 3

### Q40. Create a nested list and access an inner element.

In [48]:
l=[['a','b','c'],['d','e','f']]
l[0][2]

'c'

### Q41. Create a set of 5 unique colors.

In [49]:
s={'red', 'blue',  'yellow','green', 'orange'}
s

{'blue', 'green', 'orange', 'red', 'yellow'}

### Q42. Add a new color to the set.

In [50]:
s.add('magenta')
s

{'blue', 'green', 'magenta', 'orange', 'red', 'yellow'}

### Q43. Remove an item from the set using `remove()`.

In [51]:
s.remove('yellow')
s

{'blue', 'green', 'magenta', 'orange', 'red'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [52]:
s.discard('yellow')
s

{'blue', 'green', 'magenta', 'orange', 'red'}

### Q45. Create a set from a list with duplicate values.

In [53]:
l=[1,2,3,4,1,5,5,6,7,7]
s=set(l)
print(s)

{1, 2, 3, 4, 5, 6, 7}

### Q46. Find the union of two sets.

In [54]:
s1={'red', 'green', 'blue'}
s2={'yellow', 'orange', 'blue'}
s1.union(s2)

{'blue', 'green', 'orange', 'red', 'yellow'}

### Q47. Find the intersection of two sets.

In [55]:
s1.intersection(s2)

{'blue'}

### Q48. Find the difference between two sets.

In [56]:
s1.difference(s2)

{'green', 'red'}

### Q49. Check if a set is a subset of another set.

In [57]:
s1.issubset(s2)

False

### Q50. Check if two sets are disjoint.

In [58]:
s1.isdisjoint(s2)

False

### Q51. Create a dictionary with 3 items: name, age, and city.

In [59]:
d={'fname':'menna','age':22,'city':'cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [60]:
d['lname'] = 'maarouf'
d

{'fname': 'menna', 'age': 22, 'city': 'cairo', 'lname': 'maarouf'}

### Q53. Update the value of an existing key in the dictionary.

In [61]:
d['lname']='Ahmed'

### Q54. Remove a key from the dictionary using `pop()`.

In [62]:
d.pop('lname');
d

{'fname': 'menna', 'age': 22, 'city': 'cairo'}

### Q55. Check if a key exists in the dictionary.

In [63]:
'fname' in d

True

### Q56. Loop through a dictionary and print all keys and values.

In [64]:
for key,value in zip(d.keys(), d.values()):
    print(key,value)

fname menna
age 22
city cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [65]:
d.keys()

dict_keys(['fname', 'age', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [66]:
d.values()

dict_values(['menna', 22, 'cairo'])

### Q59. Get all key-value pairs using `items()`.

In [67]:
d.items()

dict_items([('fname', 'menna'), ('age', 22), ('city', 'cairo')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [68]:
key=['fname', 'age', 'city']
value=['menna', 22, 'cairo']
d=dict(zip(key, value))
d

{'fname': 'menna', 'age': 22, 'city': 'cairo'}